.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex :global(.MuiPagination-ul) {
    justify-content: center;
    row-gap: 8px;
}

@media (max-width: 480px) {
    .flex :global(.MuiPaginationItem-root) {
        min-width: 34px;
        height: 34px;
        margin: 0 2px;
    }
}
